// ======= //
// GENERAL //
// ======= //

body, html {
  min-height:100%; height: 100%; width:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: $font;
}

body {
  background: $body-bg;
}


// ========= //
// TYPOGRAFY //
// ========= //

h1 {
  font-family: $font-family-sans-serif;
  color: $black1;
  font-weight: 700;
  text-align: center;
  position: relative;
  font-size: $font8;
  &::before {
    @extend %content;
    @include vertical-centered;
    background: $red1;
    height: 3px;
    margin-top: 2px;
    z-index: 30;
  }
  span {
    background: white;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    z-index: 40;
  }
}

h2 {
  font-family: $font-family-sans-serif;
  color: $black1;
  font-size: $font8;
  font-weight: 700;
}

h3 {
  font-family: $font-family-sans-serif;
  color: $black1;
  font-size: $font7;
}

h4 {
  font-family: $font-family-sans-serif;
}

h5 {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

h6 {
  font-family: $font-family-sans-serif;
}

a, p, span, strong, small {

}

a, p {
  @extend %default-text;
}

strong {
  font-weight: 700 !important;
}

small, .text-small {
  font-size: $font1;
}

p, strong, span {
  &.text-big {
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  // @include list-unstyled;
  li {
    @extend %default-text;
    display: inline-block;
  }
  &.list-featured {
    li {
      width: 100%;
    }
  }
}

blockquote {
  &, p {
  }
}

#{$all-buttons}, a.btn {
  @extend %default-text;
  display: inline-block;
  text-transform: uppercase;

  &.btn-primary {
    color: white;
    background: $blue1;
    border-radius: 40px;
    padding: 10px 60px;
  }

  &.btn-white {
    color: $black1;
    background: white;
    border-radius: 40px;
    padding: 8px 14px;
    font-weight: 700;
    font-size: $font2;
  }

  &.btn-lg {
  }
}

#{$all-buttons-hover}, a.btn:hover {
  text-decoration: none;
}
#{$all-buttons-active}, a.btn:active {

}
#{$all-buttons-focus}, a.btn:focus {

}

%form-input {
  border: none;
  background: $gray1;
  &::-webkit-input-placeholder {
  }
  &:-ms-input-placeholder {
  }
  &::-moz-placeholder {
  }
  &:focus {
    box-shadow: none;
    background: $gray1;
  }
  &.invalid {
    border: solid 1px $red1;
    color: $red1;
    &::-webkit-input-placeholder {
      color: $red1;
    }
    &:-ms-input-placeholder {
      color: $red1;
    }
    &::-moz-placeholder {
      color: $red1;
    }
  }
}

#{$all-text-inputs} {
  @extend %default-text;
  box-sizing: border-box;
  &.form-control {
    @extend %form-input;
  }
}

#{$all-text-inputs-focus} {
  box-shadow: none;
}

#{$all-text-inputs-hover} {

}

#{$all-text-inputs-active} {
}

textarea {
  &.form-control {
    @extend %form-input;
  }
}

select {
  &.form-control {
    @extend %form-input;
  }
}


input[type="radio"] {
  .form-check & {
    + label {
      &::before {
      }
    }
  }
  &.invalid + label {
    color: $red1;
    font-weight: 700;
  }
}

input[type="checkbox"],
input[type="radio"] {
  .form-check & {
    margin-top: 9px;
    + label {
      &::before {
      }
    }
    &:checked + label::before {
    }
    &.invalid + label {
      color: $red1;
      font-weight: 700;
    }
  }

  .form-check-small & {
    + label {
      &::before {
      }
    }
    &.invalid + label {
      color: $red1;
      font-weight: 700;
    }
  }

  .form-check-inline & {
    margin-top: 1px;
  }
}

.form-group {
  label {
    @extend %default-text;
  }
  .btn {
    width: 100%;
  }
}

.input-group {
  .input-group-text {
    border: none;
    border-radius: 10px 0 0 10px;
    background: $yellow1;
  }
  .form-control {
    border-radius: 0 10px 10px 0;
  }
  .btn-primary {
    margin-top: 20px;
  }
}

// ======= //
// HELPERS //
// ======= //


// ========== //
// COMPONENTS //
// ========== //

.icon {
  display: inline-block;
  color: #000000 !important;

  &.icon-user {
    width: 21px;
    height: 21px;
    background: url('#{$img-path}icon-user.png') no-repeat center center;
  }

  &.icon-password {
    width: 20px;
    height: 26px;
    background: url('#{$img-path}icon-password.png') no-repeat center center;
  }

  &.icon-sponsorship {
    width: 28px;
    height: 30px;
    background: url('#{$img-path}icon-sponsorship.png') no-repeat center center;
  }

  &.icon-event {
    width: 37px;
    height: 24px;
    background: url('#{$img-path}icon-event.png') no-repeat center center;
  }

  &.icon-logout {
    width: 13px;
    height: 13px;
    background: url('#{$img-path}icon-logout.png') no-repeat center center;
  }
}

.logo {
  display: inline-block;
}

.card-login {
  padding: 28px 20px 0px;
  border-radius: 10px;
  form {
    margin-top: 45px;
  }
  label {
    display: none;
  }
  .card-body {
    padding: 0px;

    button {
      color: #ffffff;
    }
  }
  p{
    color: #7d7272;
    font-size: 15px;
  }
}

.card-service {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  opacity: .7;
  transition: opacity .3s ease-in;
  .card-body {
    text-align: center;
    position: relative;
    background: $red1;
    padding: 40px 30px;
  }
  .card-icon {
    width: 54px;
    height: 54px;
    position: absolute;
    left: 0;
    right: 0;
    top: -27px;
    margin: auto;
    border-radius: 50%;
    background: $black1;
    line-height: 72px;
    text-align: center;
  }

  p {
    color: white;
    margin-bottom: 22px;
  }

  &.card-disable .card-body {
    background: $black2;
  }

  &:hover {
    opacity: 1;
  }
}

.navbar {
  background: white;
  padding: 30px 0;
}

.navbar-toggler {
  color: $red1;
  font-size: 32px;
}

.nav-link {
  @extend %default-text;
  transition: all .3s ease-in;
  padding: 4px 30px !important;
  &:hover {
    color: transparentize($black1, .3);
  }
  &.active {
    background: $red1;
    border-radius: 33px;
    color: white;
  }
  i {
    margin-right: 2px;
  }
}


.footer {
  background: $red1;
  p {
    color: white;
  }
  .login & {
    background: transparent;
    p {
      color: $black1;
    }
  }
}
// ======= //
// SECIONS //
// ======= //

.wrapper {
  h1 + p {
    margin-top: 13px;
    margin-bottom: 30px;
  }
}

// ===== //
// PAGES //
// ===== //

#app {
  background-size: cover;
  .login & {
    background-size: cover;
  }
  .service & {
    background: $body-bg;
  }
}
